<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Alerta Assinador</title>
</head>

<body>
  <h3>Olá! </h3>
  <p>O CPF no contrato do cliente {{personName}}, não foi cadastrado. </p>

  <p>Por favor, corrija esta informação.</p>
</body>

</html>